import(MASS)
import(nlme)
import(mvtnorm)
import(geoR)
importFrom(stats, as.formula)
importFrom(stats, cov)
importFrom(graphics, lines)
importFrom(stats, model.extract)
importFrom(stats, model.frame)
importFrom(stats, model.matrix)
importFrom(stats, optim)
importFrom(stats, optimize)
importFrom(graphics, plot)
importFrom(stats, pnorm)
importFrom(stats, qt)
importFrom(stats, reformulate)
importFrom(stats, rnorm)
importFrom(stats, var)
export(lmenssp)
export(filtered)
export(smoothed)
export(variogram)
export(var.inspect)
export(qqplot.t)
export(lmenssp.heavy)
export(smoothed.heavy)
export(boot.nm)